<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lh.authority.dao.DictoryLineMapper">
    <resultMap id="ResultUseMap" type="com.lh.authority.model.DictoryLine">
        <id column="value" property="value" jdbcType="VARCHAR"/><!--  -->
        <result column="label" property="label" jdbcType="VARCHAR"/><!-- 内容 -->
        <result column="defaultSelect" property="defaultSelect" jdbcType="INTEGER"/><!-- 是否选择（0：不选择，1：选择） -->
    </resultMap>
    <!-- 注释：返回线性数据字典 -->
    <select id="getDictoryList" resultMap="ResultUseMap" parameterType="java.lang.String">
        SELECT
        id AS value
        ,contentName AS label
        ,defaultSelect
        FROM  inf_dictionary
        <where>
            AND signName = #{signName,jdbcType=VARCHAR}
            AND stopSign = 0
        </where>
        ORDER BY sortNo
    </select>

</mapper>
