<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lh.authority.dao.MyBatisUseMapper">
    <!-- 注释：用户登录 -->
    <select id="useLogByNameAndPassWord" resultType="com.lh.authority.model.MyBatisUseModel" parameterType="java.lang.String">
        SELECT
        personName
        ,mobile
        ,passWord
        ,useBegin
        ,useEnd
        ,companyName
        ,stopSign
        ,useType
        FROM  sys_myBatisUser
        <where>
            AND mobile = #{mobile,jdbcType=VARCHAR}
        </where>
    </select>
</mapper>
