<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lh.authority.dao.OperatorMapper">
    <resultMap id="OperatorAllMap" type="com.lh.authority.model.OperatorAll">
        <result column="name" property="name" jdbcType="VARCHAR"/><!-- 姓名 -->
        <result column="pwd" property="pwd" jdbcType="VARCHAR"/><!-- 登录密码 -->
        <result column="stopSign" property="stopSign" jdbcType="BIT"/><!-- 是否停用 -->
    </resultMap>
    <!-- 注释：登录方法 -->
    <select id="useLog" resultMap="OperatorAllMap" parameterType="java.lang.String">
        SELECT
        name
        ,pwd
        ,stopSign
        FROM sys_operator
        <where>
            <if test="num != null">
                AND num = #{num,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <update id="updateByPrimaryKeyForJobName" parameterType="com.lh.authority.model.OperatorAll">
        update sys_operator
        <set>
            <if test="jobName != null">
                jobName = #{jobName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>