<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lh.authority.dao.PerMapper">
    <resultMap id="ResultPerMap" type="com.lh.authority.dto.PerDto">
        <id column="countId" property="countId" jdbcType="VARCHAR"/><!-- 主键 -->
        <result column="sex" property="sex" jdbcType="INTEGER"/><!--  性别（0：男、1：女） -->
        <result column="subjectName" property="subjectName" jdbcType="VARCHAR"/><!--  科目名称 -->
        <result column="achievement" property="achievement" jdbcType="INTEGER"/><!-- 成绩 -->
    </resultMap>
    <!-- 注释：1.	根据课程名和性别，统计出各科平均成绩、参加人次数、参加人数，并按平均成绩降序排序，性别排序 -->
    <select id="getPerAchList" resultMap="ResultPerMap" >
        SELECT
            COUNT(per.id) AS countId
            ,per.sex AS sex
            ,ach.subjectName AS subjectName
            ,SUM(ach.achievement) AS achievement
        FROM t_person AS per
        INNER JOIN t_achievement AS ach ON per.id = ach.perId
        GROUP BY per.sex,ach.subjectName
        ORDER BY per.sex,ach.subjectName,SUM(ach.achievement)
    </select>

    <!-- 注释：InnerJoin查询 -->
    <select id="getPerAchList2" resultType="com.lh.authority.dto.Per1Dto" parameterType="java.lang.String">
        SELECT
        per.name AS name
        ,CASE per.sex
        WHEN 0 THEN '男'
        ELSE '女'
        END AS sex
        ,per.age AS age
        ,per.classNo AS classNo
        ,ach.subjectName AS subjectName
        ,ach.achievement AS achievement
        ,DATE_FORMAT(ach.workTime,'%Y-%m-%d') AS workTime
        FROM t_person AS per
        INNER JOIN t_achievement AS ach ON per.id = ach.perId
        <where>
            <if test="name != null">
                AND per.name like CONCAT('%',#{name,jdbcType=VARCHAR})
            </if>
        </where>
        ORDER BY per.sex,ach.subjectName,ach.achievement DESC
    </select>

    <!-- 注释：测试增加员工 -->
    <insert id="insertIntoPerson" parameterType="com.lh.authority.model.InPutParam.PerInPutParam">
        INSERT INTO t_person (
        id
        <if test="name != null">
            ,name
        </if>
        <if test="sex != null">
            ,sex
        </if>
        <if test="age != null">
            ,age
        </if>
        <if test="classNo != null">
            ,classNo
        </if>
        )
        VALUES (
        #{id,jdbcType=VARCHAR}
        <if test="name != null">
            ,#{name,jdbcType=VARCHAR}
        </if>
        <if test="sex != null">
            ,#{sex,jdbcType=INTEGER}
        </if>
        <if test="age != null">
            ,#{age,jdbcType=INTEGER}
        </if>
        <if test="classNo != null">
            ,#{classNo,jdbcType=INTEGER}
        </if>
        )
    </insert>

    <!-- 注释：重复检查功能,测试增加员工 -->
    <select id="insertIntoPersonBeforeCheck" resultType="java.lang.Integer" parameterType="com.lh.authority.model.InPutParam.PerInPutParam">
        SELECT COUNT(*) AS COUNTER
        FROM t_person
        <where>
            AND sex = #{sex,jdbcType=INTEGER}
            <![CDATA[OR age < #{age,jdbcType=INTEGER}]]>
            AND classNo = #{classNo,jdbcType=INTEGER}
        </where>
    </select>
</mapper>
