<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lh.authority.dao.SystemMapper">
    <resultMap id="SystemMap" type="com.lh.authority.model.MySystem">
        <id column="systemName" property="systemName" jdbcType="VARCHAR"/>
        <result column="picPath" property="picPath" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="EnableSign" property="enableSign" jdbcType="INTEGER"/>
    </resultMap>

    <!--得到指定用户子系统权限列表-->
    <select id="selectMySystemNameList" resultMap="SystemMap" parameterType="com.lh.authority.model.MySystemPara">
        SELECT sn.systemName,sn.picPath,sn.remark
        ,Case When allsn.systemName is null then 0 else 1 end as EnableSign
        FROM sys_operator as oper
        INNER JOIN sys_operatorlinkrole as oplr on oper.id = oplr.operatorId
        INNER JOIN sys_rolelinkpower as rlp on oplr.roleId = rlp.roleId
        INNER JOIN sys_grouplinkpower as glp on rlp.allPowerId = glp.formAllPowerID
        INNER JOIN sys_groupname as gn on gn.id = glp.groupid
        INNER JOIN sys_systemname as sn on sn.systemname = gn.systemname
        INNER JOIN sys_allpower as ap on ap.id = rlp.allPowerId
        Left Join sys_systemname as allsn on sn.systemname = allsn.systemname
        WHERE oper.id = #{id,jdbcType=VARCHAR}
        AND ap.stopSign = #{stopSign,jdbcType=VARCHAR}
        AND ap.powerType = #{powerType,jdbcType=VARCHAR}
        AND ap.formType = #{formType,jdbcType=VARCHAR}
        GROUP BY sn.systemname,sn.hellowWebName,sn.picPath
        ORDER BY sn.sortNo
    </select>
</mapper>

