<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lh.authority.dao.UseMapper">
    <!-- 注释：描述 -->
    <select id="getNewUseListPage" resultType="com.lh.authority.dto.UseDto" parameterType="java.lang.String">
        SELECT
        op.id AS id
        ,op.name AS name
        ,op.eName AS eName
        ,opl.roleId AS roleId
        FROM sys_operator AS op
        INNER JOIN sys_operatorlinkrole AS opl ON op.id = opl.operatorId
        <where>
            AND op.id = #{id,jdbcType=VARCHAR}
            AND op.stopSign = '1'
        </where>
        ORDER BY op.id
    </select>
    <!-- 注释：增加新用户 -->
    <insert id="AddNewUse" parameterType="com.lh.authority.model.InPutParam.UseInsertInParam">
        INSERT INTO sys_userinfo (
        id
        ,deptId
        ,username
        ,password
        ,name
        <if test="englishName != null">
            ,englishName
        </if>
        <if test="portrait != null">
            ,portrait
        </if>
        ,mobile
        <if test="tel != null">
            ,tel
        </if>
        <if test="qq != null">
            ,qq
        </if>
        <if test="email != null">
            ,email
        </if>
        <if test="address != null">
            ,address
        </if>
        <if test="postCode != null">
            ,postCode
        </if>
        <if test="userType != null">
            ,userType
        </if>
        <if test="remark != null">
            ,remark
        </if>
        )
        VALUES (
        #{id,jdbcType=VARCHAR}
        ,#{deptId,jdbcType=VARCHAR}
        ,#{username,jdbcType=VARCHAR}
        ,#{password,jdbcType=VARCHAR}
        ,#{name,jdbcType=VARCHAR}
        <if test="englishName != null">
            ,#{englishName,jdbcType=VARCHAR}
        </if>
        <if test="portrait != null">
            ,#{portrait,jdbcType=VARCHAR}
        </if>
        ,#{mobile,jdbcType=VARCHAR}
        <if test="tel != null">
            ,#{tel,jdbcType=VARCHAR}
        </if>
        <if test="qq != null">
            ,#{qq,jdbcType=VARCHAR}
        </if>
        <if test="email != null">
            ,#{email,jdbcType=VARCHAR}
        </if>
        <if test="address != null">
            ,#{address,jdbcType=VARCHAR}
        </if>
        <if test="postCode != null">
            ,#{postCode,jdbcType=VARCHAR}
        </if>
        <if test="userType != null">
            ,#{userType,jdbcType=VARCHAR}
        </if>
        <if test="remark != null">
            ,#{remark,jdbcType=VARCHAR}
        </if>
        )
    </insert>

    <!-- 注释：重复检查功能,增加新用户 -->
    <select id="AddNewUseBeforeCheck" resultType="java.lang.Integer" parameterType="com.lh.authority.model.InPutParam.UseInsertInParam">
        SELECT COUNT(*) AS COUNTER
        FROM sys_userinfo
        <where>
            <if test="mobile != null">
                AND mobile = #{mobile,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <!-- 注释：用户登录 -->
    <select id="useLogByNameAndPassWord" resultType="com.lh.authority.model.UseModel" parameterType="java.lang.String">
        SELECT
        id
        ,password
        ,mobile
        ,userType
        ,stopSign
        FROM  sys_userinfo
        <where>
            AND mobile = #{mobile,jdbcType=VARCHAR}
        </where>
    </select>

</mapper>
