<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lh.authority.dao.UserMapper">
    <resultMap id="ResultUserMap" type="com.lh.authority.model.User">
        <id column="id" property="id" jdbcType="VARCHAR"/><!-- 主键 -->
        <result column="userName" property="userName" jdbcType="VARCHAR"/><!-- 姓名 -->
        <result column="age" property="age" jdbcType="INTEGER"/><!-- 年龄 -->
        <result column="sex" property="sex" jdbcType="INTEGER"/><!-- 性别 -->
    </resultMap>
    <resultMap id="ResultUser2Map" type="com.lh.authority.dto.UserDto">
        <id column="mainId" property="mainId" jdbcType="VARCHAR"/><!-- 主键 -->
        <result column="mainUserName" property="mainUserName" jdbcType="VARCHAR"/><!-- 姓名 -->
        <result column="mainAge" property="mainAge" jdbcType="INTEGER"/><!-- 年龄 -->
        <result column="sex" property="sex" jdbcType="INTEGER"/><!-- 性别 -->
        <result column="sub2Id" property="sub2Id" jdbcType="VARCHAR"/><!-- 主键 -->
        <result column="sub2UserName" property="sub2UserName" jdbcType="VARCHAR"/><!-- 姓名 -->
        <result column="sub2Age" property="sub2Age" jdbcType="INTEGER"/><!-- 年龄 -->
    </resultMap>

    <select id="getUserListTotal" parameterType="java.lang.String" resultType="java.util.LinkedHashMap">
      SELECT  FORMAT(AVG(age),2) AS age1
      , FORMAT(AVG(age),0) AS age2
      ,FORMAT(SUM(age),0) AS sumAge1
      ,FORMAT(SUM(age),2) AS sumAge2
      ,COUNT(id) as counter
      FROM (
        ${value}
      ) as TotalTable
    </select>
    <!-- 注释：得到UserList -->
    <select id="getUserList" resultMap="ResultUserMap" parameterType="java.lang.String">
        SELECT
        id
        ,user_name AS userName
        ,age
        ,sex
        FROM user
        <where>
            <if test="id != null">
                AND id like CONCAT('%',#{id,jdbcType=VARCHAR})
            </if>
        </where>
        ORDER BY id
    </select>

    <!-- 注释：得到UserList2 -->
    <select id="getUserList2" resultMap="ResultUser2Map" parameterType="java.lang.String">
        SELECT
        main.id AS mainId
        ,main.user_name AS mainUserName
        ,main.age AS mainAge
        ,main.sex AS sex
        ,sub2.id AS sub2Id
        ,sub2.user_name AS sub2UserName
        ,sub2.age AS sub2Age
        FROM user AS main
        LEFT JOIN user AS sub2 ON main.user_name = sub2.user_name
        <where>
            <if test="mainId != null">
                AND main.id like CONCAT('%',#{mainId,jdbcType=VARCHAR})
            </if>
        </where>
        ORDER BY main.id
    </select>

    <!-- 注释：得到UserList3 -->
    <select id="getUserList3" resultMap="ResultUser2Map"
            parameterType="com.lh.authority.model.InPutParam.UserInPutPara">
        SELECT
        main.id AS mainId
        ,main.user_name AS mainUserName
        ,main.age AS mainAge
        ,main.sex AS sex
        ,sub2.id AS sub2Id
        ,sub2.user_name AS sub2UserName
        ,sub2.age AS sub2Age
        FROM user AS main
        LEFT JOIN user AS sub2 ON main.user_name = sub2.user_name
        <where>
            <if test="mainId != null">
                AND main.id like CONCAT('%',#{mainId,jdbcType=VARCHAR})
            </if>
            <if test="sub2Id != null">
                AND sub2.id like CONCAT('%',#{sub2Id,jdbcType=VARCHAR})
            </if>
        </where>
        ORDER BY main.id
    </select>


</mapper>
